@model GestãoDeSalaDeAula.Models.Aluno

@{
    ViewData["Title"] = "Deletar";
}

<div class="textHeader">
    <h1>Excluir</h1>
    <h3>Você tem certeza que deseja excluir o aluno ?</h3>
</div>
<div>
    <dl class ="dl">
        <dt>
            <b>@Html.DisplayNameFor(model => model.Nome):</b>
        </dt>
            <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>        
        <dt>
            <b>@Html.DisplayNameFor(model => model.Media):</b>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Media)
        </dd>
        <dt class = "col-sm-2">
            <b>@Html.DisplayNameFor(model => model.Nota1):</b>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nota1)
        </dd>
        <dt class = "col-sm-2">
            <b>@Html.DisplayNameFor(model => model.Nota2):</b>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nota2)
        </dd>
        <dt>
            <b>@Html.DisplayNameFor(model => model.Nota3):</b>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nota3)
        </dd>
        <dt>
            <b>@Html.DisplayNameFor(model => model.Nota4):</b>
        </dt>
        <dd >
            @Html.DisplayFor(model => model.Nota4)
        </dd>
    </dl>
</div>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Deletar"/> |
        <a asp-action="Index">Voltar</a>
    </form>
</div>
