@model GestãoDeSalaDeAula.Models.Alunos

@{
    ViewData["Title"] = "Detalhes";
    double soma = 0;
    double media = 0;
}


<div class="textHeader">
    <h1>Detalhes</h1>
</div>

<div>
    <dl class="dl">
        <dt>
            <b>@Html.DisplayNameFor(model => model.Name):</b>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            <b>Media</b>
        </dt>
        <dd>
            @{
                foreach(var item in Model.Provas!)
                {
                    soma += item.Nota;
                }
                media = soma / 7;
            }
            <p>@media.ToString("N2")</p>
        </dd>
        <dt>
            <b>@Html.DisplayNameFor(model => model.Provas)</b>
        </dt>
        <dd>
            <table>
                <tr>
                    <th>Materia</th>
                    <th>Nota</th>
                </tr>
                @foreach(var item in Model.Provas!)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelitem => item.Materias!.MateriasName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nota)
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>