@model IEnumerable<GestãoDeSalaDeAula.Models.Aluno>

@{
    ViewData["Title"] = "Tabela";
    int posicao = 1;
    double soma = 0;
    double media;
}

<div class="textHeader">
    <h1>Tabela</h1>
    <p>
        <a asp-action="Create">Adicionar novo aluno</a>
    </p>
</div>
<div style="overflow-x: auto;">
    <table class="tabela">
        <thead>
            <tr>
                <th>
                    <span>Posição</span>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    <span>Media</span>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @(posicao + "º")
                        @{posicao++;}
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @{
                            foreach(var nota in Model.Provas!)
                            {
                                soma += nota.Nota;
                            }
                            media = soma / 7;
                        }
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
